<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465781957313-lgtc9u0um5p54893oi4c99kmd2fhfelh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465781957313-lgtc9u0um5p54893oi4c99kmd2fhfelh</string>
	<key>API_KEY</key>
	<string>AIzaSyBAH9oyKchgk5QlTt3wEQsCcDNji4OlgLY</string>
	<key>GCM_SENDER_ID</key>
	<string>465781957313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anugerahMobile</string>
	<key>PROJECT_ID</key>
	<string>anugerah-bd5c1</string>
	<key>STORAGE_BUCKET</key>
	<string>anugerah-bd5c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465781957313:ios:14d7f04185bb3422686a40</string>
</dict>
</plist>